@media (max-width:1024px) {
    main {
        .free {
            display: none;
        }

        section {
            .aksiya {
                .cards {
                    .card:nth-child(4) {
                        display: none;
                    }
                }
            }
        }

        section {
            .articles {
                .articles-cards {
                    .articles-card {
                        height: auto;

                        .articles-inf {
                            h3 {
                                font-size: 16px;
                                line-height: 24px;
                            }

                            p {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
.in-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
    }

    .contact {
        .icons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }
}
}

@media (max-width:768px) {
    header {
        .menu {
            .logo {
                h2 {
                    display: none;
                }

                margin-right: 10px;
            }

            .search-menu {
                button {
                    span {
                        display: none;
                    }
                }
            }

            .header-right {
                .accaunt {
                    h3 {
                        display: none;
                    }
                }
            }
        }
    }

    main {
        section {
            .aksiya {
                .cards {
                    .card:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

        section {
            .special-offers {
                .special-offers-cards {
                    .card {
                        height: 170px;

                        .card-left {
                            max-width: 174px;

                            h1 {
                                font-size: 18px;
                                width: 174px;
                            }

                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
      .in-footer{
        .about {
            display: none;
        }
      }
    }
}

@media (max-width:570px) {
    main {

        section {
            .aksiya {
                .aksiya-header {
                    h1 {
                        font-size: 22px;
                    }
                }

                .cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }
            }
        }

        section {
            .articles {
                .articles-cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .articles-card {
                        width: 100%;
                        height: 300px;

                        img {
                            height: 96px;
                            overflow: hidden;
                            object-fit: cover;
                        }

                        .articles-inf {
                            h3 {
                                font-size: 16px;
                                line-height: 24px;
                            }

                            p {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width:460px) {
    header {
        .menu {
            .search-menu {
                button {
                    display: none;
                }
            }

            .header-right {
                display: none;
            }
        }
    }

    main {
        section {
            .special-offers {
                h1 {
                    font-size: 24px;
                }

                .special-offers-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .card {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .card-left {
                            width: 60%;

                            h1 {
                                font-size: 20px;
                            }
                        }

                        img {
                            max-width: 200px;
                        }
                    }

                    .card:nth-child(2) {
                        img {
                            max-width: 160px;
                        }
                    }
                }
            }

            .lacation-shop {
                h1 {
                    font-size: 28px;
                }

                .filials {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                }
            }
        }

        .menu-bottom {
            display: block;
            position: fixed;
            display: flex;
        }
    }

}