@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik';
    outline: none;

}

.darkModeBody * {
    color: #fff;
    background: #000;
}


header {
    width: 100%;
    height: 72px;
    background: #fff;
    position: sticky;
    top: 0;

    .menu {
        max-width: 1200px;
        width: 100%;

        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .darkmode {
            width: 55px;
            height: 30px;
            background: #000;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 0 4px;
            justify-content: start;

            .inDarkmode {
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 50px;
                cursor: pointer;
                transition: all .4s ease;




            }

            .in-light {
                background: #000;
                transition: all .4s ease;
                margin-left: 25px;
            }

        }

        .darkmode-right {
            transition: all 1s ease;
            background: #fff;
            border: 1px solid #000;


        }

        .header-right {
            .box {
                i {
                    cursor: pointer;
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #414141;

            h2 {
                font-size: 20px;
            }
        }

        .search-menu {
            display: flex;
            align-items: center;
            gap: 16px;

            button {
                width: auto;
                height: 40px;
                background-color: #70C05B;
                border: none;
                color: #fff;
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
                padding: 10px;
                border-radius: 8px;
                margin-left: 15px;

                i {
                    font-size: 25px;
                    font-weight: normal;
                    background: none;
                }
            }

            .qotolog {

                width: 100%;
                height: 250px;
                position: absolute;
                top: 100%;
                left: 0%;
                padding: 20px;
                margin: auto;
                color: #000;
                align-items: center;
                justify-content: space-between;
                display: none;

                .qotolog-header {
                    max-width: 1200px;
                    width: 100%;
                    margin: auto;
                    justify-content: space-between;
                    display: flex;
                }



                ul {

                    line-height: 44px;
                    background: none;

                    li:hover {
                        color: #FF6633;
                        cursor: pointer;
                    }
                }

            }

            .block {
                display: flex;
                background: #fff;
            }



            .input {
                width: 100%;
                max-width: 500px;
                height: 40px;
                border: 1px solid gray;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 5px;
                justify-content: space-between;
                margin-right: 15px;

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    font-size: 20px;

                }

                i {
                    font-size: 25px;
                    color: #414141;
                    cursor: pointer;
                }
            }
        }

        .header-right {
            display: flex;
            gap: 24px;

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    font-size: 25px;
                    font-weight: normal;
                    color: #414141;
                }

                p {
                    font-size: 12px;
                }
            }

            .accaunt {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}

main {
    background: #FBF8EC;
    display: flex;
    flex-direction: column;
    align-items: center;

    .free {
        max-width: 1440px;
        width: 100%;
        height: 200px;
        margin: auto;
        object-fit: cover;

    }

    .free570px {
        display: none;
    }

    section {
        padding: 10px;
        max-width: 1200px;
        width: 100%;
        margin-top: 80px;

        .aksiya {
            max-width: 1200px;
            width: 100%;
            margin: auto;
            margin-bottom: 60px;

            .aksiya-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 40px;

                h1 {
                    font-size: 36px;
                    font-weight: 700;
                    color: #414141;
                }

                a {
                    color: #606060;
                }
            }

            .cards {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .card {
                    width: 272px;
                    height: auto;
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    img {
                        width: 100%;
                    }

                    .inf {
                        max-width: 100%;
                        padding: 10px;

                        .summa {
                            // max-width: 210px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h4 {
                                font-size: 18px;
                                color: #414141;
                            }

                            h5 {
                                font-size: 16px;
                                font-weight: normal;
                                color: #606060;
                            }

                            p {
                                font-size: 12px;
                                font-weight: normal;
                                color: #BFBFBF;
                            }
                        }

                        p {
                            font-size: 16px;
                            // max-width: 210px;
                            margin: 8px 0;
                            font-weight: 400;
                        }

                        .stars {
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            img {
                                width: 16px;
                            }
                        }

                        button {
                            width: 210px;
                            height: 40px;
                            border: 1px solid #70C05B;
                            border-radius: 8px;
                            color: #70C05B;
                            cursor: pointer;
                            margin-top: 10px;
                            transition: all 0.3s ease-in;

                            &:hover {
                                background-color: #FF6633;
                                border: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }

        }
    }

    section {
        h1 {
            font-size: 36px;
            color: #414141;

        }

        .special-offers-cards {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // gap: 40px;
            margin: 60px 0;

            .card {

                width: 48%;
                height: 200px;
                background: #FCD5BA;
                display: flex;
                align-items: center;
                border-radius: 10px;
                // padding: 10px;
                overflow: hidden;

                .card-left {
                    width: 50%;
                    max-width: 256px;
                    margin: 10px;

                    // margin: 25px 25px 40px 35px;
                    h1 {
                        font-size: 22px;
                        font-weight: 700;

                    }

                    p {
                        font-size: 16px;
                        color: #414141;
                        margin-top: 10px;
                    }
                }

                img {
                    width: 50%;
                    object-fit: cover;
                }
            }

            .card:nth-child(2) {
                background: #E5FFDE;
            }
        }

        .lacation-shop {
            margin: 60px 0;

            .filials {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 395px;
                margin: 44px 0 28px;
                gap: 15px;

                button {
                    width: 100px;
                    height: 32px;
                    border: none;
                    border-radius: 8px;
                    font-size: 12px;
                    color: #000;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: #70C05B;
                        color: #fff;
                    }

                }

                button:first-child {
                    background: #70C05B;
                    color: #fff;

                }

            }

            .map {
                width: 100%;
                height: 354px;
            }
        }

        .articles {
            .articles-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: #414141;
                }
            }

            .articles-cards {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                .articles-card {
                    // max-width: 376px;
                    width: 30%;
                    height: 430px;
                    gap: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: 1px solid rgb(202, 194, 194);
                    border-radius: 8px;

                    img {
                        width: 100%;
                        border-radius: 8px 8px 0 0;
                    }

                    .articles-inf {
                        padding: 10px;

                        .data {
                            font-size: 12px;
                            margin: 0;
                            color: #8F8F8F;
                        }

                        h3 {
                            font-size: 18px;
                            color: #414141;
                            line-height: 27px;
                        }

                        p {
                            font-size: 16px;
                            color: #333333;
                            line-height: 24px;
                            margin: 10px 0;
                        }

                        button {
                            width: 150px;
                            height: 40px;
                            background-color: #E5FFDE;
                            font-size: 16px;
                            border: none;
                            color: #70C05B;
                            cursor: pointer;
                            border-radius: 8px;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                background-color: #70C05B;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-bottom {
        display: none;
        width: 100%;
        height: 56px;
        background-color: #fff;
        bottom: 0;
        // display: flex;
        padding: 10px;
        justify-content: space-between;

        .qotolog-menu {
            .qotolog-menu-in {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 90%;
                height: 100vh;
                background: #fff;
                bottom: 100%;
                padding: 15px;
                justify-content: space-between;
                left: 100%;
                transition: all .5s ease;

                a {
                    color: #000;

                    &:hover {
                        color: #FF6633;
                    }

                    background: none;
                }
            }

            .left0 {
                left: 0%;
            }


        }

        .box {
            background: none;
            display: flex;
            flex-direction: column;
            align-items: center;


            i {
                background: none;
                font-size: 24px;
                color: #000;
            }

            p {
                color: #000;
                background: none;
                font-size: 10px;
            }
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
        }

    }

}

footer {
    width: 100%;

    .in-footer {
        max-width: 1300px;
        margin: auto;
        height: 126px;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about {
            display: flex;
            gap: 40px;

            a {
                color: #414141;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            gap: 15px;

            .icons {
                i {
                    font-size: 30px;
                    gap: 16px;
                }
            }

            .phone-number {
                i {
                    display: flex;
                    align-items: center;
                    font-size: 24px;

                    span {
                        font-size: 16px;
                        color: #414141;
                    }
                }

                p {
                    margin-top: 15px;
                    color: #414141;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }
        }
    }
}


@import './responsive'