@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
}

.darkModeBody * {
  color: #fff;
  background: #000;
}

header {
  width: 100%;
  height: 72px;
  background: #fff;
  position: sticky;
  top: 0;
}
header .menu {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header .menu .darkmode {
  width: 55px;
  height: 30px;
  background: #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  justify-content: start;
}
header .menu .darkmode .inDarkmode {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
}
header .menu .darkmode .in-light {
  background: #000;
  transition: all 0.4s ease;
  margin-left: 25px;
}
header .menu .darkmode-right {
  transition: all 1s ease;
  background: #fff;
  border: 1px solid #000;
}
header .menu .header-right .box i {
  cursor: pointer;
}
header .menu .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #414141;
}
header .menu .logo h2 {
  font-size: 20px;
}
header .menu .search-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .menu .search-menu button {
  width: auto;
  height: 40px;
  background-color: #70C05B;
  border: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
}
header .menu .search-menu button i {
  font-size: 25px;
  font-weight: normal;
}
header .menu .search-menu .qotolog {
  width: 100%;
  height: 250px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: all 1s ease;
  padding: 40px 215px;
  color: #000;
  align-items: center;
  justify-content: space-between;
  display: none;
}
header .menu .search-menu .qotolog ul {
  line-height: 44px;
}
header .menu .search-menu .qotolog ul li:hover {
  color: #FF6633;
  cursor: pointer;
}
header .menu .search-menu .block {
  display: flex;
}
header .menu .search-menu .input {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  margin-right: 15px;
}
header .menu .search-menu .input input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
}
header .menu .search-menu .input i {
  font-size: 25px;
  color: #414141;
  cursor: pointer;
}
header .menu .header-right {
  display: flex;
  gap: 24px;
}
header .menu .header-right .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .menu .header-right .box i {
  font-size: 25px;
  font-weight: normal;
  color: #414141;
}
header .menu .header-right .box p {
  font-size: 12px;
}
header .menu .header-right .accaunt {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .menu .header-right .accaunt img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
header .menu .header-right .accaunt h3 {
  font-size: 16px;
  font-weight: 400;
}

main {
  background: #FBF8EC;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .free {
  max-width: 1440px;
  width: 100%;
  height: 200px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .free570px {
  display: none;
}
main section {
  padding: 10px;
  max-width: 1200px;
  width: 100%;
  margin-top: 80px;
}
main section .aksiya {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}
main section .aksiya .aksiya-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
main section .aksiya .aksiya-header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #414141;
}
main section .aksiya .aksiya-header a {
  color: #606060;
}
main section .aksiya .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .aksiya .cards .card {
  width: 272px;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main section .aksiya .cards .card img {
  width: 100%;
}
main section .aksiya .cards .card .inf {
  max-width: 100%;
  padding: 10px;
}
main section .aksiya .cards .card .inf .summa {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .aksiya .cards .card .inf .summa h4 {
  font-size: 18px;
  color: #414141;
}
main section .aksiya .cards .card .inf .summa h5 {
  font-size: 16px;
  font-weight: normal;
  color: #606060;
}
main section .aksiya .cards .card .inf .summa p {
  font-size: 12px;
  font-weight: normal;
  color: #BFBFBF;
}
main section .aksiya .cards .card .inf p {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 400;
}
main section .aksiya .cards .card .inf .stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
main section .aksiya .cards .card .inf .stars img {
  width: 16px;
}
main section .aksiya .cards .card .inf button {
  width: 210px;
  height: 40px;
  border: 1px solid #70C05B;
  border-radius: 8px;
  color: #70C05B;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in;
}
main section .aksiya .cards .card .inf button:hover {
  background-color: #FF6633;
  border: none;
  color: #fff;
}
main section h1 {
  font-size: 36px;
  color: #414141;
}
main section .special-offers-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}
main section .special-offers-cards .card {
  width: 48%;
  height: 200px;
  background: #FCD5BA;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
main section .special-offers-cards .card .card-left {
  width: 50%;
  max-width: 256px;
  margin: 10px;
}
main section .special-offers-cards .card .card-left h1 {
  font-size: 22px;
  font-weight: 700;
}
main section .special-offers-cards .card .card-left p {
  font-size: 16px;
  color: #414141;
  margin-top: 10px;
}
main section .special-offers-cards .card img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .special-offers-cards .card:nth-child(2) {
  background: #E5FFDE;
}
main section .lacation-shop {
  margin: 60px 0;
}
main section .lacation-shop .filials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 395px;
  margin: 44px 0 28px;
  gap: 15px;
}
main section .lacation-shop .filials button {
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  color: #000;
  transition: all 0.3s ease-in-out;
}
main section .lacation-shop .filials button:hover {
  background: #70C05B;
  color: #fff;
}
main section .lacation-shop .filials button:first-child {
  background: #70C05B;
  color: #fff;
}
main section .lacation-shop .map {
  width: 100%;
  height: 354px;
}
main section .articles .articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section .articles .articles-header a {
  color: #414141;
}
main section .articles .articles-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
main section .articles .articles-cards .articles-card {
  width: 30%;
  height: 430px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(202, 194, 194);
  border-radius: 8px;
}
main section .articles .articles-cards .articles-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
main section .articles .articles-cards .articles-card .articles-inf {
  padding: 10px;
}
main section .articles .articles-cards .articles-card .articles-inf .data {
  font-size: 12px;
  margin: 0;
  color: #8F8F8F;
}
main section .articles .articles-cards .articles-card .articles-inf h3 {
  font-size: 18px;
  color: #414141;
  line-height: 27px;
}
main section .articles .articles-cards .articles-card .articles-inf p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  margin: 10px 0;
}
main section .articles .articles-cards .articles-card .articles-inf button {
  width: 150px;
  height: 40px;
  background-color: #E5FFDE;
  font-size: 16px;
  border: none;
  color: #70C05B;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
main section .articles .articles-cards .articles-card .articles-inf button:hover {
  background-color: #70C05B;
  color: #fff;
}
main .menu-bottom {
  display: none;
  width: 100%;
  height: 56px;
  background-color: #fff;
  bottom: 0;
  padding: 10px;
  justify-content: space-between;
}
main .menu-bottom .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .menu-bottom .box i {
  font-size: 24px;
}
main .menu-bottom .box p {
  font-size: 10px;
}
main .menu-bottom img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

footer {
  width: 100%;
}
footer .in-footer {
  max-width: 1300px;
  margin: auto;
  height: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .in-footer .about {
  display: flex;
  gap: 40px;
}
footer .in-footer .about a {
  color: #414141;
}
footer .in-footer .contact {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .in-footer .contact .icons i {
  font-size: 30px;
  gap: 16px;
}
footer .in-footer .contact .phone-number i {
  display: flex;
  align-items: center;
  font-size: 24px;
}
footer .in-footer .contact .phone-number i span {
  font-size: 16px;
  color: #414141;
}
footer .in-footer .contact .phone-number p {
  margin-top: 15px;
  color: #414141;
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 1024px) {
  main .free {
    display: none;
  }
  main section .aksiya .cards .card:nth-child(4) {
    display: none;
  }
  main section .articles .articles-cards .articles-card {
    height: auto;
  }
  main section .articles .articles-cards .articles-card .articles-inf h3 {
    font-size: 16px;
    line-height: 24px;
  }
  main section .articles .articles-cards .articles-card .articles-inf p {
    font-size: 12px;
    line-height: 18px;
  }
}
footer .in-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer .in-footer .about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}
footer .in-footer .contact .icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 768px) {
  header .menu .logo {
    margin-right: 10px;
  }
  header .menu .logo h2 {
    display: none;
  }
  header .menu .search-menu button span {
    display: none;
  }
  header .menu .header-right .accaunt h3 {
    display: none;
  }
  main section .aksiya .cards .card:nth-child(3) {
    display: none;
  }
  main section .special-offers .special-offers-cards .card {
    height: 170px;
  }
  main section .special-offers .special-offers-cards .card .card-left {
    max-width: 174px;
  }
  main section .special-offers .special-offers-cards .card .card-left h1 {
    font-size: 18px;
    width: 174px;
  }
  main section .special-offers .special-offers-cards .card .card-left p {
    font-size: 12px;
  }
  footer .in-footer .about {
    display: none;
  }
}
@media (max-width: 570px) {
  main section .aksiya .aksiya-header h1 {
    font-size: 22px;
  }
  main section .aksiya .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  main section .articles .articles-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main section .articles .articles-cards .articles-card {
    width: 100%;
    height: 300px;
  }
  main section .articles .articles-cards .articles-card img {
    height: 96px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section .articles .articles-cards .articles-card .articles-inf h3 {
    font-size: 16px;
    line-height: 24px;
  }
  main section .articles .articles-cards .articles-card .articles-inf p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 460px) {
  header .menu .search-menu button {
    display: none;
  }
  header .menu .header-right {
    display: none;
  }
  main section .special-offers h1 {
    font-size: 24px;
  }
  main section .special-offers .special-offers-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main section .special-offers .special-offers-cards .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  main section .special-offers .special-offers-cards .card .card-left {
    width: 60%;
  }
  main section .special-offers .special-offers-cards .card .card-left h1 {
    font-size: 20px;
  }
  main section .special-offers .special-offers-cards .card img {
    max-width: 200px;
  }
  main section .special-offers .special-offers-cards .card:nth-child(2) img {
    max-width: 160px;
  }
  main section .lacation-shop h1 {
    font-size: 28px;
  }
  main section .lacation-shop .filials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  main .menu-bottom {
    display: block;
    position: fixed;
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */